body {
    font-family: Arial, sans-serif;
    padding-top: 56px; /* Ajuste para la barra de navegación fija */
}

.carrusel img {
    max-height: 500px; /* Ajusta el tamaño del carrusel */
    object-fit: cover; /* Mantiene proporción sin distorsionar */
}

.carousel-caption {
    color: black !important; /* Cambia el color del texto */
    text-shadow: none; /* Evita sombras blancas */
    background-color: rgba(255, 255, 255, 0.6); /* Agrega un fondo semitransparente */
    padding: 10px;
    border-radius: 8px;
}


p {
    text-align: justify;
}
.section {
    padding: 60px 0;
}

h2 {
    color: #004085;
    margin-bottom: 20px;
}

.text-justify {
    text-align: justify;
}

.carrusel img {
    height: 500px;
    object-fit: cover;
}

.card-title {
    text-align: center; /* Centrar el texto */
    color:black;
    font-weight: bold;
}


.card {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 200px;
    object-fit: cover;
}

.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

footer {
    background: #004085;
    color: white;
    padding: 10px 0;
}

